@page "/UseCases/HumanResources/DisplayEmployeesList/Pages/DisplayEmployeesListPage"
@inherits FluxorComponent

<PageTitle>Workers</PageTitle>
<Row TextAlignment=TextAlignment.Center Margin="Margin.Is3.FromTop">
    <Heading Size="HeadingSize.Is5">
        AdventureWorks Cycles, Viewing List of Workers
    </Heading>
</Row>

<ErrorBoundary>
    @if (Loading)
    {
        <Row>
            <div class="d-flex justify-content-center">
                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </Row>
    }
    else
    {
        <Row Margin="Margin.Is3.OnAll">
            <div class="col-6 align-self-center justify-content-start">
                <CreateResourceLink Disabled=false DoNavigation="@GoToCreatePage" />
            </div>
            <div class="col-6 align-self-center justify-content-start">
                <SingleFieldGridSearch PlaceHolderText="Employee Last Name" OnSearchTermChangedEventHandler=@OnSearchChanged
                CachedSearchTerm=@CachedSearchTerm />
            </div>
        </Row>
        <Row Margin="Margin.Is4.FromStart">
            <BasicGrid Items=DisplayEmployeeListState!.Value.EmployeeList>
                <TableHeader>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Job Title</th>
                    <th>Department</th>
                    <th>Telephone</th>
                    <th>Email Address</th>
                    <th>Status</th>
                    <th>Actions</th>
                </TableHeader>
                <RowTemplate Context="EmployeeListItem">
                    <td>@EmployeeListItem.BusinessEntityID</td>
                    <td>@EmployeeListItem.FullName</td>
                    <td>@EmployeeListItem.JobTitle</td>
                    <td>@EmployeeListItem.Department</td>
                    <td>@EmployeeListItem.PhoneNumber</td>
                    <td>@EmployeeListItem.EmailAddress</td>
                    <td>@(EmployeeListItem.Active ? "Active" : "Inactive")</td>
                    <td>
                        <Dropdown Direction="Direction.Up">
                            <DropdownToggle Outline Size="Size.ExtraSmall" Color="Color.Primary" ToggleIconVisible="false">
                            <span class="btn-label"><i class="fas fa-ellipsis-v" aria-hidden="true"></i></span>
                            </DropdownToggle>
                            <DropdownMenu class="border border-dark rounded-3 shadow-lg">
                            <DropdownItem
                                Clicked="@( () => OnActionItemClicked("View", @EmployeeListItem.BusinessEntityID) )">
                                Details
                            </DropdownItem>
                            <DropdownItem
                                Clicked="@( () => OnActionItemClicked("Edit", @EmployeeListItem.BusinessEntityID) )">
                                Edit
                            </DropdownItem>
                            <DropdownItem
                                Clicked="@( () => OnActionItemClicked("Delete", @EmployeeListItem.BusinessEntityID) )">
                                Delete
                            </DropdownItem>
                            </DropdownMenu>
                            </Dropdown>
                        </td>
                    </RowTemplate>
                    </BasicGrid>
                    </Row>
        <Row Margin="Margin.Is4.FromStart">
            <BasicGridPager MetaData=@DisplayEmployeeListState!.Value.MetaData
            PagerChangedEventHandler=@PagerChangedEventHandler />
        </Row>
    }
    </ErrorBoundary>